@import '../../layouts/theme';
.btn{
  display: inline-block;
  text-decoration: none;
  //background: $md-red-200;
  color: #FFF !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  margin: 5px;
}

.btn:hover{
  background: $md-secondary-color;
}

.__btn{
  display: inline-block;
  text-decoration: none;
  background: white;
  color: $md-sub-text-coler;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  margin: 5px;
}
.navLink{
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 200px;
  }
  @media screen and (min-width: 768px) {
    width: 250px;
  }
  @media screen and (min-width: 920px) {
    width: 300px;
  }
}

