@import '../layouts/theme';
.article-main {
  padding: 16px;
  width:100%;
  a {
    color : $md-secondary-color;
  }
  .article-title {
    margin: 32px 0
  }
  .article {
    background-color: white;
    padding: 16px;
    .article-date {
      color: $md-sub-text-coler;
      margin-right: 10px
    }
    .tag_list {
      margin: 16px 0;
    }
    .tag-link {
      display: inline-block;
      margin: 8px;
    }
    .article-text {
      margin: 40px 0
    }
    h2 {
      padding: 0.25em 0.5em;/*上下 左右の余白*/
      //color: #494949;/*文字色*/
      background: transparent;/*背景透明に*/
      border-left: solid 5px $md-secondary-color;/*左線*/
      margin: 45px 0 15px
    }
    h3 {
      margin: 30px 0 10px
    }
    .tag-icon {
      color: $md-grey-400;
      display: inline;
      margin: 8px;
      position: relative;
      top: 8px;
      left: 5px;
    }
  }
}