@import '../layouts/theme';
.category {
  .category-title {
    //display: inline-block;
    //border-bottom: "1px solid";
  }
  a {
    color : $md-secondary-color;
  }
  .posts {
    color: $md-sub-text-coler;
  }
}