@import '../../layouts/theme';
.categories-list {
  margin-bottom: 10px;
  .categories {
    padding: 0
  }
  .list-title {
    background-color: $md-primary-color;
    color: white;
    font-weight: bold;
  }
  .counts {
    color: #fff;
    background-color:$md-grey-400;
    padding: 0;
    margin: 0 5px 2px 5px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
  }
  .listText {
    display:inline-block;
  }
  .sub-menue-icon {
    color:  #fff;
    display: inline;
    position: relative;
    top: 3px;
    right: 5px;
  }
}
