@import '../../layouts/theme';
.float-button {
  // position:fixed;
  bottom:10px;
  right:10px;
  //background-color:#304FFE;
  // z-index:999;
}
.navListPrimaryText {
  display:inline-block !important;
}
.navListSecondaryText {
  color: #fff;
  background-color:$md-grey-400; 
  padding: 0;
  margin: 0 5px 2px 5px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  display: inline-block !important;
  border-radius: 50%;
}
.main-content {
  display: flex;
  flex-direction: column;

  .main-container {
      display: flex;
      min-height: 100%;
      flex-direction: column;
      flex: 1;

      .main-content {
          flex: 1;
      }
  }
}