.article-card {
  background-color: white;
  .article-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .thumbnailDiv {
    margin: auto;
  }
  .thumbnail {
    margin-bottom: 0 !important;
    width: 70px;
    height: 46px;
    @media screen and (min-width: 480px) {
      width: 70px;
      height: 46px;
    }
    @media screen and (min-width: 768px) {
      width: 150px;
      height: 100px;
    }
    @media screen and (min-width: 920px) {
      width: 180px;
      height: 120px;
    }
  }
}
