body {
  //font-family: Lato, 'Noto Sans JP', '游ゴシック Medium', 游ゴシック体, 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
  font-family: Lato, 'Noto Sans JP', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', sans-serif !important;
  font-size: calc(90% + 0.25vw);
}
h1 h2 h3 h4 h5 h6 {
  //font-family: Lato, 'Noto Sans JP', '游ゴシック Medium', 游ゴシック体, 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-family: Lato, 'Noto Sans JP', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', sans-serif
}
h1 {
  font-size: calc((90% + 0.25vw) * 2);
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: hsla(0,0%,0%,0.5);
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h2 {
  font-size: calc((90% + 0.25vw) * 1.5);
  color: hsla(0,0%,0%,0.5);
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h3 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: hsla(0,0%,0%,0.5);
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: calc((90% + 0.25vw) * 1.3);
  line-height: 1.1;
}
p {
  color: hsla(0,0%,0%,0.8);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.66667rem;
  line-height: 2.0
}

pre.language-js span.token.keyword {
  color: #ee82ee;
}
pre.language-js span.token.punctuation {
  color: #FFFFFF;
}
pre.language-js span.token.operator {
  color: #FFFFFF;
}
pre.language-js span.token.string {
  color: #f4a460;
}
pre.language-js span.token.class-name {
  color: #3cb371;
}
pre.language-js {
  color: #87cefa;
}
pre {
  background-color: #073642;
  padding: 1em;
  color: #93a1a1;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}




div .mobile-fix {
  @media (max-width: 360px - 1px) {
      padding-left: 0;
      padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .sp-zero-padding {
    padding: 0 !important;
  }
  .sp-zero-margin {
    margin: 0 !important;
  }
  .sp-width-100 {
    width: 100% !important;
  }
}
.zero-padding {
  padding: 0 !important;
}
.zero-margin {
  margin: 0 !important;
}

.fa-icon {
  font-size: 20px !important;
}