@import 'theme.scss';
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}

.side-menu {
  padding: 16px;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

//@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
//@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
//@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@include react-md-everything;