@import '~react-md/src/scss/react-md';
$md-primary-color:#757575;
$md-secondary-color: #FF9100;
$md-tertiary-color: $md-grey-200;
$md-sub-text-coler: $md-grey-600;
$md-typography-extended: false;
$breakpoint-tablet: 980px;
$breakpoint-mobile: 640px;