@import '../../layouts/theme';
.post-nav {
  .post-nav-label {
    color: $md-sub-text-coler;
    .post-suggestion-icon {
      position: relative;
      top: 5px;
    }
  }
  .post-nav-prev
    {
      text-align: left;
    }
  .post-nav-next
    {
      text-align: right;
      float: right;
    }
    .linkbox {
      width: 100%;
      padding: 0;
      height: 100px;
      text-align: left;
      margin: 0
    }
    .linkbox-next {
      float: right;
    }
    .nav-image {
      width: 90px;
      height: 60px;
      margin-bottom: 0;
    }
    .thumbnailDiv {
      margin: auto;
      @media screen and (max-width: 480px){ 
       display: none;
      }
    }
}